/*----------- Pestañas ---------- */

a:hover,a:focus
{
    text-decoration: none;
    outline: none;
}

.tab .nav-tabs
{
    border-bottom: 3px solid #1859b2; 
}

.tab .nav-tabs.Noborde
{
    border-bottom: 0px; 
    border-bottom: none; 
}

.tab .nav-tabs li
{
    margin: 0 0px 0 0;
    position: relative;
}

.tab .nav-tabs li a
{
    border: none;
    padding: 13px 35px;
    font-size: 20px;
    color: #081e3b;
    background: transparent;
    border-radius: 0;
}
.tab .nav-tabs li a:hover
{
    color: #1859b2;
}

.tab .nav-tabs li a i
{
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover
{
    border: none;
    background: #1859b2;
    color: white;
    transition: background 0.20s linear 0s;
}

.tab .tab-content
{
    padding: 0px;
}


/*----------- Dropdown list en Pestaña ---------- */
.tabSm
{
    border-color: rgb(41,69,77);
    text-align: center;
    border-radius: none !important;
}

.dropDownTab
{
    border-radius: none !important;
    border-radius: 0px !important;
    background: #1859b2;
    color: white;
    font-size: 18px;
    width: 100%;
    height: 54px;
}

.dropDownTab:hover, .dropDownTab:active, .dropDownTab:focus
{
    opacity: 1.0;
    color: white;
}