<div ng-controller="DiarioController as diario" >
   
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-3 col-xs-12 barraLateralActividad" ng-show="anchoPantalla > 767 || detalle.DiarioId.length == 0">
                
                
                <!-- Separador -->
                <div class="row" style="height:57px">
                   <div class="col-xs-12" >
                   </div>
                </div>
            
                <div class="row panelOperacionBotonLateral" style="color:black">
                   <div class="col-xs-12 ">        
                        <!-- Filtrar -->
                        <div class="pull-left" id="filtroPanel">

                            <button class="btn  botonFiltrarBarraLateral text-center"  data-toggle="modal" data-target="#modalFiltro">
                               <span class="fa fa-filter"></span>
                           </button>
                        </div>
                    
                      
                       <!-- Agregar -->
                       <a class="btn  botonOperacionBarraLateral pull-right" ng-click="AbrirDiario('Agregar', null, null)">
                           <span class="fa fa-plus"></span><span> Agregar</span>
                       </a>
                       
                   </div>
                </div>
                
                <!-- Agrupador -->
                <div class="row panelOperacionBotonLateral" style="color:black">
                   <div class="col-xs-12">
                       
                        <div class="btn-group btn-group-justified">
                          
                           <!-- Fecha -->
                           <div class="btn-group">
                               <button class="btn botonAgrupador"  ng-click="CambiarAgruparDiario('Fecha')" ng-class="{Activo: agruparDiario == 'Fecha'}">
                                   <!--<span class="fa fa-calendar-o"></span>-->
                                    <span> Fecha</span>
                               </button>
                           </div>
                           
                           <!-- Concepto -->
                           <div class="btn-group">
                               <button class="btn botonAgrupador"  ng-click="CambiarAgruparDiario('Conceptos')" ng-class="{Activo: agruparDiario == 'Conceptos'}">
                                   <!--<span class="fa fa-lightbulb-o "></span>-->
                                    <span > Conceptos</span>
                               </button>
                            </div>
                           
                           <!-- Etiqueta -->
                           <!--<div class="btn-group">
                               <button class="btn botonAgrupador"  ng-click="CambiarAgruparDiario('Etiquetas')" ng-class="{Activo: agruparDiario == 'Etiquetas'}">
                                   <span class="fa fa-tag"></span>
                                    <span ng-show="agruparDiario == 'Etiquetas'"> Etiquetas</span>
                               </button>
                            </div>
                           
                           <!-- Temas
                           <div class="btn-group">
                               <button class="btn botonAgrupador"  ng-click="CambiarAgruparDiario('Temas')" ng-class="{Activo: agruparDiario == 'Temas'}">
                                   <span class="fa fa-comment-o"></span>
                                    <span ng-show="agruparDiario == 'Temas'"> Temas</span>
                               </button>
                            </div>-->
                            
                        </div>    
                        
                        <!--<button class="btn btn-block botonOperacionBarraLateral" data-toggle="dropdown">
                            {{agruparDiario}}
                            <span class="fa fa-caret-down"></span>
                        </button>
                        
                        <ul class="dropdown-menu barraNavegacionDropdown" style="width:90%; border: 2px solid  #2076ed; left:5%">
                            <li><a class="dropdownOpcion2" ng-click="CambiarAgruparDiario('Fecha')"> Fecha </a></li>
                            <li><a class="dropdownOpcion2" ng-click="CambiarAgruparDiario('Etiquetas')"> Etiquetas </a></li>
                            <li><a class="dropdownOpcion2" ng-click="CambiarAgruparDiario('Temas')"> Temas </a></li>
                        </ul>-->
                       
                   </div>
                </div>
                
                <!-- buscar -->
                <div class="row panelOperacionBotonLateral" style="padding-top:5px; padding-bottom:5px">

                    <div class="col-xs-12">
                       
                       <!-- fecha -->
                        <div class="input-group" ng-show ="agruparDiario == 'Fecha'">
                            <input type="text" class="buscarTexto form-control" onchange="angular.element(this).scope().CambiarFechaBuscar(this)" placeholder="Buscar Fecha" id="fechaBuscar">
                            <span class="input-group-btn">
                                <a class="btn limpiarTextoBoton"  ng-click="LimpiarBuscar(1)" type="button"><span class="fa fa-times-circle"></span></a>
                            </span>
                        </div>
                        
                         <!-- concepto -->
                        <div class="input-group" ng-show="agruparDiario == 'Conceptos'">
                            <input type="text" class="buscarTexto form-control" placeholder="Buscar Concepto" ng-model="buscarConceptoBarra">
                            <span class="input-group-btn">
                                <a class="btn limpiarTextoBoton"  ng-click="buscarConceptoBarra = ''" type="button"><span class="fa fa-times-circle"></span></a>
                            </span>
                        </div>
                        
                        <!-- etiqueta -->
                        <!--<div class="input-group" ng-show="agruparDiario == 'Etiquetas'">
                            <input type="text" class="buscarTexto form-control" placeholder="Buscar Etiqueta" ng-model="buscarEtiquetaBarra">
                            <span class="input-group-btn">
                                <a class="btn limpiarTextoBoton"  ng-click="buscarEtiquetaBarra = ''" type="button"><span class="fa fa-times-circle"></span></a>
                            </span>
                        </div>
                        
                        <!-- tema
                        <div class="input-group" ng-show="agruparDiario == 'Temas'">
                            <input type="text" class="buscarTexto form-control" placeholder="Buscar Tema" ng-model="buscarTemaBarra">
                            <span class="input-group-btn">
                                <a class="btn limpiarTextoBoton" ng-click="buscarTemaBarra = ''" type="button"><span class="fa fa-times-circle"></span></a>
                            </span>
                        </div>-->
                        
                        
                    </div>
                </div>
                
                <!-- Fitros -->
                <div class="row verFitros" ng-show="(filtro.tema.length + filtro.frecuencia.length + filtro.etiqueta.length) > 0">

                    <div class="col-xs-12">
                        <button class="btn botonFalsoTitulo"><b>Filtro</b></button>
                        
                        <!-- Botones -->
                       <div class="pull-right btn-group">
                          
                            <!-- Limpiar filtro -->
                            <button class="btn  botonFiltrarBarraLateral text-center" style="color:black" ng-click="LimpiarFiltro()" >
                               <span class="fa fa-ban"></span>
                           </button>

                           <!-- Ver Detalles -->
                           <button class="btn  botonDetallesActividad" ng-click="CambiarVerFiltro()">
                               <b class="fa fa-angle-double-right" ng-if="!verFiltro"></b>
                               <b class="fa fa-angle-double-up" ng-if="verFiltro"></b>
                           </button>

                        </div>
                        
                    </div>
                    
                    <!-- Etiquetas -->
                    <div class="col-xs-12" ng-show="filtro.etiqueta.length > 0 && verFiltro">
                        <b> Etiquetas: </b><br>
                        <span ng-repeat="etiqueta in EtiquetaFiltrada | orderBy:'Nombre'" ng-if="etiqueta.Filtro">
                            <span ng-if="!$last">{{etiqueta.Nombre}}, </span>
                            <span ng-if="$last">{{etiqueta.Nombre}}.</span>
                        </span>
                    </div>
                    
                    <!-- Temas -->
                    <div class="col-xs-12" ng-show="(filtro.tema.length > 0 || sinTemaFiltro)&& verFiltro">
                        <b> Tema: </b><br>
                        <span ng-if="sinTemaFiltro">
                            <span ng-if="filtro.tema.length > 1">Sin Tema,</span>
                            <span ng-if="filtro.tema.length  == 1">Sin Tema.</span>
                        </span>

                        <span ng-repeat="tema in temaFiltrado | orderBy:'Tema'" ng-if="tema.Filtro">
                            <span ng-if="!$last">{{tema.Tema}}, </span>
                            <span ng-if="$last">{{tema.Tema}}.</span>
                        </span>
                    </div>
                    
                </div>
                
                <!-- Fechas -->
                <div class="row" ng-if="agruparDiario == 'Fecha'">
                    <a class="btn itemBarraLateral {{GetClaseDiario(fecha.Fecha)}}" ng-repeat="fecha in fecha | orderBy:'-Fecha' | filter:{Fecha:buscarFecha}" ng-click="VerDetalles(fecha.Fecha, fecha.FechaFormato,  fecha.Diario, null)" ng-if="(fecha.Diario | filter:FiltrarDiario).length > 0" > <!-- ng-if="(fecha.Diario | filter:FiltrarDiario).length > 0" -->
                        <!-- indicador -->
                        <span class="col-xs-12"  style="white-space: normal; max-width: 90%; overflow: hidden;">
                            <button class="fechaIndicador" ng-if="(hoy == fecha.Fecha)">Hoy</button>
                            {{fecha.FechaFormato}}
                        </span>
                    </a>
                </div>
                
                <!-- Etiquetas -->
                <div class="row" ng-if="agruparDiario == 'Conceptos'">
                    <a  class="btn labelConcepto"  ng-click="CambiarVerConcepto('etiqueta')">
                        <b class="col-xs-12  text-center"  style="white-space: normal; max-width: 90%; overflow: hidden;" >Etiquetas </b>
                        <span class="fa fa-angle-double-right" ng-if="!verConcepto.etiqueta"></span>
                        <span class="fa fa-angle-double-up" ng-if="verConcepto.etiqueta"></span>
                    </a>
                </div>
                
                <!-- Etiquetas -->
                <div class="row" ng-if="agruparDiario == 'Conceptos'">
                    <a class="btn itemBarraLateral" ng-class="GetClaseDiario(etiqueta.Nombre)" ng-repeat="etiqueta in etiquetaF | orderBy:'Nombre' | filter:BuscarEtiquetaBarra" ng-click="VerDetalles(etiqueta.Nombre, etiqueta.Nombre, etiqueta.Diario, 'Etiquetas')" ng-if="(etiqueta.Diario | filter:FiltrarDiario).length > 0" ng-show="verConcepto.etiqueta">
                        <span class="col-xs-12"  style="white-space: normal; max-width: 90%; overflow: hidden;" >{{etiqueta.Nombre}}</span>
                    </a>
                </div>
                
                <!-- Temas -->
                <div class="row" ng-if="agruparDiario == 'Conceptos'">
                    <a  class="btn labelConcepto"  ng-click="CambiarVerConcepto('tema')">
                        <b class="col-xs-12  text-center"  style="white-space: normal; max-width: 90%; overflow: hidden;" >Temas</b>
                        <span class="fa fa-angle-double-right" ng-if="!verConcepto.tema"></span>
                        <span class="fa fa-angle-double-up" ng-if="verConcepto.tema"></span>
                    </a>
                </div>
                
                <!-- Temas -->
                <div class="row" ng-if="agruparDiario == 'Conceptos'">
                    <a class="btn itemBarraLateral" ng-class="GetClaseDiario(tema.Tema)" ng-repeat="tema in temaF | orderBy:'Tema' | filter:BuscarTemaBarra" ng-click="VerDetalles(tema.Tema, tema.Tema, tema.Diario, 'Temas')" ng-if="(tema.Diario | filter:FiltrarDiario).length > 0" ng-show="verConcepto.tema">
                        <span class="col-xs-12"  style="white-space: normal; max-width: 90%; overflow: hidden;" >{{tema.Tema}}</span>
                    </a>
                </div>
                
            </div>
            
            <div class="col-sm-3 col-xs-12 ">
                
            </div>
            
            <!-- Detalles -->
            <div class="col-sm-9 col-xs-12 detallesActividadPanel" ng-show="detalle.length > 0" >
                <!-- Regresar -->
                <div class="row" ng-show="anchoPantalla <= 767">
                    <div class="col-xs-12" style="background: #E6E6E6;">
                        
                        <button class="btn botonTextoAzul" ng-click="CambiarVerBarra()">
                            <span class="fa fa-chevron-left"></span> <span>Atras</span>
                        </button>
                        
                    </div>
                </div>
                <br>
                
                <!-- Fecha -->
                <div class="row">
                  
                   <div class="col-sm-12">
                      <!-- Nombre -->            
                       <b class="tituloActividad"> {{detalleTitulo}} </b>
                       
                       <!-- Botones -->
                       <div class="pull-right btn-group">
                         
                          <button class="btn  botonDetallesActividad" ng-click="AbrirDiario('Agregar', null, detalle[0].Fecha)">
                               <b class="fa fa-plus" ></b>
                           </button>

                        </div>
                       
                   </div>
                </div>
                
                <!-- Divisor -->
                <div class="row">
                   <div class="col-sm-12"> 
                       <div class="divisorAzul"></div>                      
                   </div>
                </div>
                <br>
                
                <!-- Notas de la Fecha -->
                <div class="row">
                   <div class="col-xs-12">
                      <div ng-repeat="diario in detalle | filter:FiltrarDiario | orderBy:'-Fecha'"> <!-- -->
                        
                         <div class="" style="color: black">
                            
                             <!-- Fecha y Ciudad -->
                             <div class="row">
                                <!-- Cantidad -->
                                 <div >
                                   
                                    <!-- Opciones -->
                                    <div class="col-xs-12">
                                       
                                       <!--<button class="btn btnOptDiarioDetalles pull-left" style="cursor: default">
                                            <spna class="fa fa-dot-circle-o fa fa-2x"> </spna>
                                        </button>-->
                                       
                                        <div class="btn-group pull-right" >


                                            <!-- Bullet -->
                                            <!--<button class="btn btnOptDiarioDetalles" style="cursor: default">
                                                <spna class="fa fa-dot-circle-o fa fa-2x"> </spna>
                                            </button>-->

                                            

                                            <!-- Conceptos -->
                                            <div class="btn-group">
                                                <button class="btn btnOptDiarioDetalles boton" data-toggle="dropdown">
                                                    <spna class="fa fa-comment-o"> </spna>
                                                </button>

                                                <ul class="dropdown-menu dropdown-menu-right  dropdownRight">

                                                    <div  class="row " ng-show="diario.Etiqueta.length > 0">
                                                        <div class="col-xs-12"> 
                                                            <li  class="dropdown-header tituloFitro"><b>Etiquetas</b></li>
                                                        </div>
                                                    </div>

                                                    <li style="width: auto">
                                                        <form role="infoEtoiqueta">
                                                            <div  style="margin-top: 10px"></div>

                                                            <div class="panel  panelFiltro" style="border-radius: 0px; padding: 2px important;">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <ul>
                                                                            <li ng-repeat="etiqueta in diario.Etiqueta | orderBy:'Nombre'">
                                                                                <span>{{etiqueta.Nombre}}</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </form>
                                                    </li>


                                                    <div  class="row " ng-show="diario.Tema.length > 0">
                                                        <div class="col-xs-12"> 
                                                            <li  class="dropdown-header tituloFitro"><b>Temas</b></li>
                                                        </div>
                                                    </div>

                                                    <li style="width: auto">
                                                        <form role="infoEtoiqueta">
                                                            <div  style="margin-top: 10px"></div>

                                                            <div class="panel  panelFiltro" style="border-radius: 0px; padding: 2px important;">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <ul>
                                                                            <li ng-repeat="tema in diario.Tema | orderBy:'Tema'">
                                                                                <span>{{tema.Tema}}</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                            
                                            <!-- Operaciones -->
                                            <div class="btn-group">
                                                <button class="btn btnOptDiarioDetalles boton" data-toggle="dropdown">
                                                    <spna class="fa fa-ellipsis-v"> </spna>
                                                </button>

                                                <ul class="dropdown-menu dropdown-menu-right dropdownRight">
                                                    <li><a class=" dropdownOpcion2" ng-click="VerDetallesDiario(diario)">
                                                         <span class="fa fa-eye"> Detalles</span>
                                                    </a></li>

                                                    <li><a class=" dropdownOpcion2" ng-click="AbrirDiario('Editar', diario)">
                                                         <span class="fa fa-pencil"> Editar</span>
                                                    </a></li>

                                                     <li><a class=" dropdownOpcion2" ng-click="BorrarDiario(diario)">
                                                         <span class="fa fa-trash"> Borrar</span>
                                                    </a></li>


                                                </ul>
                                            </div>
                                        </div>
                                         <b style="font-size:12pt" ng-show="detalleAgrupado != 'Fecha'">{{diario.FechaFormato}}</b>
                                     </div>
                                    
                                    <!-- Notas -->
                                    <div class="col-xs-12">
                                        <p style="font-size:12pt" ng-bind-html="diario.NotasHTML"></p>
                                    </div>
                                    
                                    <!-- Notas -->
                                    <div class="col-xs-12" >
                                        <div style="border-bottom: 1px solid #1859b2;"></div>
                                    </div>
                                    
                                 </div>
                             </div>
                          </div>
                                   
                        <br>
                                    
                      </div>
                   </div>
                </div>
                
            </div>

        </div>
    </div>
    
    <!-- -------------------------------- Modales ----------------------------------------------------------------------- -->
    <!-- Agregar - Editar -->
    <div class="modal fade" id="modalDiario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal">
           
            <div class="row">
                <div class="col-xs-12">
                    <!-- Alertas -->
                    <div class="alertaMensaje" id="alertaExitosoDiario">
                        <div class="alert alertaExtito">
                            <!--<button type="button" class="close" data-dismiss="alert">x</button>-->
                            <span class="fa fa-check-circle-o fa-2x textIconoExito" style="font-size:16pt"></span>
                            <strong style="display: inline-block;">{{mensaje}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            
            <br>
            <div class="row">
                <div class="col-xs-8 col-sm-10">
                    <!--<button class="btn close cerrarModal" ng-click="CerrarCancion()"><span aria-hidden="true">&times;</span></button>-->
                    <span ng-if="operacion == 'Agregar'" class="tituloModal">Agregar Diario</span>
                    <span ng-if="operacion == 'Editar'" class="tituloModal">Editar Diario</span>
                </div>
                
                <div class="col-xs-4 col-sm-2">
                    <div class="btn-group-vertical pull-right" role="group" >
                        <a class="btn botonFinModal"  ng-click="CerrarDiario()"><span class="fa fa-times"></span></a>
                        <a focus class="btn botonFinModal" id="terminarEtiqueta" ng-click="TerminarDiario()"><span class="fa fa-check"></span></a>
                    </div>
                </div>
                
                
            </div>
            <br>
            
            <form name="actividadForma">
                
                <!-- Fecha -->
                <div class="row">
                      
                    <div class="col-xs-12 col-sm-12 etiquetaDropdownList" >
                        <label class="">Fecha</label><br>
                        <div class="row" >
                           <div class="col-xs-12" >
                            <span class="botonFecha">{{nuevoDiario.FechaFormato}}</span>
                            </div>
                        </div>
                        
                        <div class="row" >
                            <div class="col-xs-12" >
                                <input ng-disabled="FechaDefinida" type="text"  id="fechaDiario" class="form-control entrada" style=" cursor:pointer; color:transparent; margin-top:-25px; z-index: 5 !important;" onchange="angular.element(this).scope().CambiarFechaDiario(this)"/>
                            </div>
                        </div>
                    </div>

                </div>
                
                <!-- Notas -->
                <div class="row">
                    <div class="col-sm-12">
                         <div class="">
                            <label class="etiquetaNormal">Notas</label>
                            <textarea required type="text"  class="form-control contenidoArea" style="font-size:12pt" name="contenido" ng-model="nuevoDiario.Notas" maxlength="5000"></textarea>
                        </div>
                    </div>
                </div>
                 <br>

                <!-- Etiqueta -->
                <div class="row">
                     
                     <div class="col-sm-12" id="etiquetaPanel">
                        <label class="etiquetaNormal">Etiquetas</label><br>
                         
                         <!-- Buscar Etiqueta -->
                         <div class="input-group">
                            <input type="text" required class="entrada form-control" name="etiqueta" ng-model="buscarEtiqueta" placeholder="Etiqueta" ng-maxlength="120"  data-toggle="dropdown" id="nuevaEtiqueta" autocomplete="off"/>
                            <span class="input-group-btn">
                                <a class="btn close cerrarModal"  ng-click="LimpiarBuscar(2)" type="button"><span class="fa fa-times-circle"></span></a>
                            </span>
                        </div>
                         
                         <!-- lista de etiquetas -->
                         <div class="dropdown-menu modalAgregarDropdown" ng-show="buscarEtiqueta.length > 0">
                            
                            <table  class="table table-responsive">
                                <tbody  style="cursor: pointer">
                                    <tr   ng-repeat="etiqueta in etiqueta | orderBy:'Nombre' | filter:BuscarEtiqueta" ng-show="etiqueta.show">
                                      <td style="margin-left:10px; color:black" class="botonSeleccionar" ng-click="AgregarEtiqueta(etiqueta)">{{etiqueta.Nombre}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                      
                    </div>
                </div>
                <br>
                
                <!-- Temas -->
                <div class="row">
                     
                     <div class="col-sm-12" id="temaPanel">
                       
                       <!--lista de etiquetas Seleccionados -->
                        <div ng-if="nuevoDiario.Etiqueta.length > 0">
                             <b>Etiquetas</b><br>
                             <span ng-repeat="etiqueta in nuevoDiario.Etiqueta | orderBy:'Nombre'">
                                 <div class="btn-group" role="group" style="margin-bottom:8px">
                                  <a class="btn campoAgregado" ng-class="{contornoAzul:(etiqueta.EtiquetaId != '-1')}" style="font-size:10pt" ng-click="EditarEtiqueta(etiqueta)">{{etiqueta.Nombre}}</a>
                                  <a class="btn campoAgregadoQuitar" ng-class="{contornoAzul:(etiqueta.EtiquetaId != '-1')}" style="font-size:10pt" ng-click="QuitarEtiqueta(etiqueta)"><span class="fa fa-times-circle"></span></a>
                                </div>
                             </span>
                             <br>
                         </div>
                       
                        <!-- <label class="etiquetaNormal">Temas</label><br>
                        
                         <!-- Buscar Tema --
                         <div class="input-group">
                            <input type="text" required class="entrada form-control" name="tema" ng-model="buscarTema" placeholder="Tema de la actividad" ng-maxlength="300"  data-toggle="dropdown" id="nuevoTema" autocomplete="off"/>
                            <span class="input-group-btn">
                                <a class="btn close cerrarModal"  ng-click="LimpiarBuscar(3)" type="button"><span class="fa fa-times-circle"></span></a>
                            </span>
                        </div>-->
                         
                         <div ng-if="nuevoDiario.Tema.length > 0">
                              <b>Temas</b><br>
                               <!--lista de temas Seleccionados -->
                             <span ng-repeat="tema in nuevoDiario.Tema | orderBy:'Tema'">
                                 <div class="btn-group" role="group" style="margin-bottom:8px">
                                  <a class="btn campoAgregado" ng-click="EditarTema(tema)" ng-class="{contornoAzul:(tema.TemaActividadId != '-1')}" style="font-size:10pt">{{tema.Tema}}</a>
                                  <a class="btn campoAgregadoQuitar" ng-class="{contornoAzul:(tema.TemaActividadId != '-1')}" style="font-size:10pt" ng-click="QuitarTema(tema)"><span class="fa fa-times-circle"></span></a>
                                </div>
                             </span>
                         </div>
                         
                         <!-- lista de temas -->
                         <!--<div class="dropdown-menu modalAgregarDropdown" ng-show="buscarTema.length > 0">
                            
                            <table  class="table table-responsive">
                                <tbody  style="cursor: pointer">
                                    <tr   ng-repeat="tema in tema | orderBy:'Tema' | filter:BuscarTema" ng-show="tema.show">
                                      <td style="margin-left:10px; color:black" class="botonSeleccionar" ng-click="AgregarTema(tema)">{{tema.Tema}}</td>
                                    </tr>

                                </tbody>
                            </table>
                         </div>-->
                      
                    </div>
                </div>
                
                
                <br><br>
                <!---- botones de operacion -->
                <div class="row">
                    <div class="col-xs-6">
                        <a class="btn botonFinModal btn-block" ng-click="CerrarDiario()">CANCELAR</a>
                    </div>

                    <div class="col-xs-6">
                        <a focus class="btn botonFinModal btn-block" ng-click="TerminarDiario()">TERMINAR</a>
                    </div>
                </div>
            <br>
            </form> 
            
        </div>
    </div>
    
    <!----------- Agregar Concepto ------------>
    <div class="modal fade sombraDivModal" id="modalConcepto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm modalPrincipal">
         <form name="concepto">
                <br>

                <div class="row">
                   <div class="col-xs-12">
                       <span style="font-size:14pt"> 
                           <b>"{{buscarEtiqueta}}"</b> se utilizará en las búsquedas como si fuera una sola palabra.<br>
                           ¿Deseas crear esta etiqueta?
                       </span>
                   </div>
                </div>

                <br>
                
                <!---- botones de operacion -->
                <div class="row">
                    <div class="col-xs-6">
                        <a class="btn botonFinModal btn-block" data-dismiss="modal" aria-label="Close" >Cancelar</a>
                    </div>

                    <div class="col-xs-6">
                        <a focus class="btn botonFinModal btn-block" onclick="angular.element(this).scope().TerminarDefinicionConcepto()">OK</a>
                    </div>
                </div>
                <br>
                 <div class="row">
                     <div class="col-xs-12 advertenciaModal">
                         <span class="fa fa-warning"></span> Este mensaje es temporal
                     </div>
                 </div>
            </form>

        </div>
    </div> 
    
    <!-- mensaje -->
    <div class="modal fade sombraDivModal" id="mensajeDiario">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm modalPrincipal">
           
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center textoError">
                        <span class=" fa fa-times-circle-o fa-3x"></span><br>
                        <span>¡Error!</span>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                     <div ng-repeat="error in mensajeError">
                        <span>{{error}}</span>
                    </div>
                </div>
            </div>
            <br><br>
         
            <div class="row">
                <button class="btn botonModalError" data-dismiss="modal" aria-label="Close">Aceptar</button> 
            </div>

        </div>
    </div>
    
    <!-- Cerrar -->
    <div class="modal fade sombraDivModal" id="cerrarDiario">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm modalPrincipal text-center">
           
            <div class="row">
                <div class="col-xs-12">
                    <span style="font-size:14pt">¿Estas seguro de salir sin guardar los cambios?</span>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn botonFinModal" data-dismiss="modal" aria-label="Close">No</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn botonFinModal" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarCerrarDiario()">Si</button>
                </div>
            </div>
                        
        </div>
    </div>
    
    
    <!-- Borrar -->
    <div class="modal fade sombraDivModal" id="borrarDiario">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal text-center">
           
            <div class="row">
                <div class="col-xs-12">
                    <span style="font-size:14pt">{{mensajeBorrar}}</span>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn botonFinModal" data-dismiss="modal" aria-label="Close">No</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn botonFinModal" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarBorrarDiario()">Si</button>
                </div>
            </div>
                        
        </div>
    </div>
    
    <!-- Filtro -->
    <div class="modal fade" id="modalFiltro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal">            
            <div class="row">
                <div class="col-xs-12">
                    <span class="tituloModal">Filtrar</span>
                    
                    <button class="btn botonFiltroBarraLateral pull-right" data-dismiss="modal" aria-label="Close" ng-click="LimpiarBuscarFiltro()">
                        <span>OK</span>
                    </button>

                   <button class="btn botonFiltroBarraLateral pull-right" ng-disabled = "(filtro.tema.length + filtro.etiqueta.length) == 0" data-toggle="tooltip" data-placement="bottom" title="Limpiar filtro" ng-click="LimpiarFiltro()">
                        <span >Limpiar</span>
                    </button>
                </div>  
            </div>
            <br>
            
            <form name="filtroForma">
                
                <!-- Etiquetas -->
                <button class="btn btn-block panelOperacionBotonLateral">Etiqueta</button>

                <div  style="background: white">
                   <div class="col-xs-12" style="margin-top: 10px"></div>

                    <div class="col-xs-12">
                       <div class="input-group">
                            <input type="text"  placeholder="Buscar Etiqueta" class="entrada form-control" name="buscarEtiquetaFiltro" ng-model="buscarEtiquetaFiltro" id="bucarEtiquetaFiltro" autocomplete="off">
                            <span class="input-group-btn">
                                <a class="btn close cerrarModal"  ng-click="LimpiarBuscar(4)" type="button"><span aria-hidden="true">&times;</span></a>
                            </span>
                        </div>
                    </div>

                    <div class="col-xs-12" style="margin-top: 10px"></div>
                    <div class="panel  filtroModal" style="border-radius: 0px;">
                        <div class="row " >
                            <div class="col-xs-12">

                               <div ng-repeat="etiqueta in etiquetaF | orderBy:'Nombre'" ng-show="(BuscarEtiquetaFiltro(etiqueta) && buscarEtiquetaFiltro.length > 0) || etiqueta.Filtro ">

                                    <div class="checkbox" style="margin-top:5px !important">
                                        <label class="anchoTotal">
                                            <input  class="form-control" ng-model="etiqueta.Filtro" type="checkbox" ng-click="SetFiltroEtiqueta(etiqueta.EtiquetaId)">
                                            <span class="cr"> <i class="cr-icon fa fa-check"></i> </span> <span>{{etiqueta.Nombre}}</span>
                                        </label>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!------ Tema ------>
                <button class="btn btn-block panelOperacionBotonLateral">Tema</button>

                <div  style="background: white">
                   <div class="col-xs-12" style="margin-top: 10px"></div>

                    <div class="col-xs-12">
                       <div class="input-group">
                            <input type="text"  placeholder="Buscar Tema" class="entrada form-control" name="buscarTema" ng-model="buscarTemaFiltro" id="buscarTemaFiltro" autocomplete="off">
                            <span class="input-group-btn">
                                <a class="btn close cerrarModal"  ng-click="LimpiarBuscar(5)" type="button"><span aria-hidden="true">&times;</span></a>
                            </span>
                        </div>
                    </div>

                    <div class="col-xs-12" style="margin-top: 10px"></div>
                    <div class="panel  filtroModal" style="border-radius: 0px;">
                        <div class="row " >
                            <div class="col-xs-12">
                                <div ng-repeat="tema in temaF | orderBy:'Tema'" ng-show="(BuscarTemaFiltro(tema) && buscarTemaFiltro.length > 0) || tema.Filtro ">
                                    <div class="checkbox" style="margin-top:5px !important;">
                                        <label class="anchoTotal">
                                            <input class="form-control" ng-model="tema.Filtro" type="checkbox"  ng-click="SetFiltroTema(tema.TemaActividadId)">
                                            <span class="cr"> <i class="cr-icon fa fa-check"></i> </span>{{tema.Tema}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </form> 
            
        </div>
    </div>
    
    <div class="modal fade" id="detalleDiario">
        <br>    <br>   <br>
        <div class="modal-dialog modal-lg modalPrincipal">
          
          
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">&times;</span></button>

                </div>
            </div>
            
            <!-- Contenido -->
            <div class="row">
                <div class="col-xs-12 detalleInformacion" >
                    <p style="font-size:12pt" ng-bind-html="detalleDiario.NotasHTML"></p>
                </div>
            </div>
            
            <br>
           
            
            <!-- Separador -->
            <div class="row" ng-if="detalleDiario.Notas.length > 0">
                <div class="col-xs-12"> <div class="divisorAzul1"></div> </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <!-- Fecha -->
                    <span class="tituloModal" style="font-size:14pt">{{detalleDiario.FechaFormato}}</span><br>
                    
                    <!-- Etiqueta -->
                    <span ng-if="detalleDiario.Etiqueta.length > 0">
                        <b>Etiquetas: </b> 
                        <span ng-repeat="etiqueta in detalleDiario.Etiqueta | orderBy:'Nombre'">
                            <span ng-if="!$last">{{etiqueta.Nombre}}, </span>
                            <span ng-if="$last">{{etiqueta.Nombre}}.</span>
                        </span>
                    </span><br>
                    
                    <!-- Temas -->
                    <span ng-if="detalleDiario.Tema.length > 0">
                        <b>Temas: </b> 
                        <span ng-repeat="tema in detalleDiario.Tema | orderBy:'Tema'">
                            <span ng-if="!$last">{{tema.Tema}}, </span>
                            <span ng-if="$last">{{tema.Tema}}.</span>
                        </span>
                    </span><br>
                </div>
            </div>

        </div>
    </div>
    
    
    <!-- Alertas -->
    <div class="alertaMensaje" id="alertaEditarExitosoDiario">
        <div class="alert alertaExtito">
            <!--<button type="button" class="close" data-dismiss="alert">x</button>-->
            <span class="fa fa-check-circle-o fa-2x textIconoExito" style="font-size:16pt"></span>
            <strong style="display: inline-block;">{{mensaje}}</strong>
        </div>
    </div>
    
    
    
</div>

   
    