<div ng-controller="RecuperarPasswordControlador as recuperarPassword">
   
    <div class="container-fluid">
       
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" style="z-index:2">
                <div class="row encabezadoUsuario"  id="tiutloPagina" >            <!--  -->
                    <!-- Título -->
                    <div class="col-md-7 col-sm-6 col-xs-6 encabezadoTitulo">
                        <h2 class =" hidden-xs hidden-sm claseTitulo">Sistemas MQR</h2>
                        <h3 class ="hidden-md hidden-lg claseTitulo">Sistemas MQR</h3>
                       
                    </div>

                    <div class=" col-md-5 col-sm-6 col-xs-6 text-center" style="margin-top: 23px;">
                    </div>
                </div>

                <div class="row barraNavegacion" id="barraNavegacion">

                </div>   
            </div>
        </div>
       
        <div class="row">
            <div class="{{claseApp}}">
                <div class="row" style="margin-top:123px">
                    <div class="col-xs-12">
                       <br><br>
                       <!-- título -->
                       <div class="row">
                          <div class="col-xs-12 tituloLogin">
                              Recuperar Contraseña
                          </div>
                       </div>
                        <br><br><br><br ng-if="operacion == 'Cambiar'"><br ng-if="operacion == 'Cambiar'">
                        <form ng-if="operacion == 'Cambiar'" name="reiniciarPasswordForma">
                            <div class="col-sm-6">
                               <div class="entrada2">
                                    <input ng-pattern="erPassword" type="password" required class="entrada form-control" name="password" ng-model="nuevoPassword.password"/>
                                    <label>Nueva Contraseña</label>
                                </div>
                            </div>
                            <br class="hidden-sm hidden-md hidden-lg">
                            <br class="hidden-sm hidden-md hidden-lg">
                            <div class="col-sm-6">
                               <div class="entrada2">
                                    <input type="password" required class="entrada form-control" name="repetirPassword" ng-model="nuevoPassword.repetir"/>
                                    <label>Repetir Contraseña</label>
                                </div>
                            </div>
                            <br><br><br>
                            <div class="col-sm-12">
                                <div ng-repeat="error in mensajeError">
                                    <span class="textoError">{{error}}</span>
                                </div>
                            </div>
                            <br><br class="hidden-xs">
                            <div class="col-xs-12 col-sm-6 pull-right">
                                <button focus class="btn botonLogin btn-block" ng-click="ReiniciarPassword(reiniciarPasswordForma.password.$invalid)">TERMINAR</button>
                            </div>
                        </form>
                        
                        <div ng-if="operacion == 'No Cambiar'">
                           <div class="col-sm-12">
                                <div class="">
                                    <div class=" text-center">
                                        <br>
                                        <span class="textoUsuario text-center"> Tu solicitud para reiniciar tu contraseña ha caducado.</span>
                                        <br><br>
                                        <span class="textoPerfilHome">Si aún no recuerdas tu contraseña envia una nueva solicitud desde la página de Iniciar Sesión.</span>
                                        <br><br><br>
                                        <div class="col-xs-12 col-sm-6 pull-right">
                                            <button  focus class="btn botonLogin btn-block" ng-click="IrIniciarSesion()">Ir a Iniciar Sesión &gt;&gt;</button>
                                        </div>
                                        <br><br>
                                    </div>
                               </div>
                            </div>

                        </div>
                        
                        
                    </div>
                </div>
                <br>
              
            </div>
        </div>
    </div>
    
    <!--------------- Modals ------------------>
    <div class="modal fade" id="mensajeRecuperarPassword">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm modalPrincipal text-center">
            <div class="row">
                <div class="col-xs-12">
                    <span style="font-size:14pt">{{mensaje}}</span>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn  botonFinModal" data-dismiss="modal" aria-label="Close" ng-click="IrIniciarSesion()">Aceptar</button>
                </div>
            </div>

        </div>
    </div>
</div>

    