<div ng-controller="LugarController as lugar"> 
    <!-- -----------------------Modales -------------------------- -->
	<div class="modal fade sombraDivModal" id="modalLugar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true" data-backdrop="static">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal">
           
           <div class="row">
                <div class="col-xs-12">
                    <!-- Alertas -->
                    <div class="alertaMensaje" id="alertaExitosoLugar">
                        <div class="alert alertaExtito">
                            <!--<button type="button" class="close" data-dismiss="alert">x</button>-->
                            <span class="fa fa-check-circle-o fa-2x textIconoExito" style="font-size:16pt"></span>
                            <strong style="display: inline-block;">{{mensaje}}</strong>
                        </div>
                    </div>
                </div>
            </div> 
            
            <form name="lugarForma">
               
                <br>
                
                <div class="row">
                    <div class="col-xs-8 col-sm-10">
                        <!-- <button class="btn close cerrarModal" data-dismiss="modal" aria-label="Close" ng-click="CerrarTema()"><span aria-hidden="true">&times;</span></button>-->
                        <span ng-if="operacion == 'Agregar' || operacion == 'AgregarExterior'" class="tituloModal">Agregar Lugar</span>
                        <span ng-if="operacion == 'Editar'" class="tituloModal">Editar Lugar</span>
                    </div>
                    
                    <div class="col-xs-4 col-sm-2">
                        <div class="btn-group-vertical pull-right" role="group" >
                            <a class="btn botonFinModal"  ng-click="CerrarLugar()"><span class="fa fa-times"></span></a>
                            <a focus class="btn botonFinModal" id="terminarLugar" ng-click="TerminarLugar(lugarForma.lugar.$invalid)"><span class="fa fa-check"></span></a>
                        </div>
                    </div>
                </div>
                
                <br>
                
                <!-- Nombre -->
                <div class="row">
                    <div class="col-sm-12">
                        
                        <div class="input-group">
                            <div class="entrada2">
                                <input type="text" required class="entrada form-control" name="lugar" ng-model="nuevoLugar.Nombre" ng-maxlength="255"/>
                                <label>Lugar</label>
                            </div>
                            <span class="input-group-btn">
                                <a class="btn close cerrarModal"  ng-click="LimpiarBuscar(2)" type="button"><span class="fa fa-times-circle"></span></a>
                            </span>
                        </div>
        
                   </div>             
                </div>
                <br>
                
                <!-- Dirección -->
                <div class="row">
                    <div class="col-sm-12">
                         <div class="">
                            <label class="etiquetaNormal">Dirección</label>
                            <textarea required type="text"  class="form-control contenidoArea" style="font-size:12pt" name="direccion" ng-model="nuevoLugar.Direccion" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
                
                <br><br>
                <!---- botones de operacion -->
                <div class="row">
                    <div class="col-xs-6">
                        <a class="btn botonFinModal btn-block" ng-click="CerrarLugar()">CANCELAR</a>
                    </div>

                    <div class="col-xs-6">
                        <a focus class="btn botonFinModal btn-block" ng-click="TerminarLugar(lugarForma.lugar.$invalid)">TERMINAR</a>
                    </div>
                </div>
            <br>
            </form> 
            
        </div>
    </div>
    
    <!-- Cerrar -->
    <div class="modal fade sombraDivModal" id="cerrarLugarModal">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm modalPrincipal text-center">
           
            <div class="row">
                <div class="col-xs-12">
                    <span style="font-size:14pt">¿Estas seguro de salir sin guardar los cambios?</span>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn botonFinModal" data-dismiss="modal" aria-label="Close">No</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn botonFinModal" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarCerrarLugar()">Si</button>
                </div>
            </div>
                        
        </div>
    </div>
    
     <!-- Borrar -->
    <div class="modal fade sombraDivModal" id="borrarLugar">
        <br>    <br>   <br>
        <div class="modal-dialog modalPrincipal text-center">
           
            <div class="row">
                <div class="col-xs-12">
                    <span style="font-size:14pt">{{mensajeBorrar}}</span>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn botonFinModal" data-dismiss="modal" aria-label="Close">No</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn botonFinModal" data-dismiss="modal" aria-label="Close" ng-click="ConfirmarBorrarLugar()">Si</button>
                </div>
            </div>
                        
        </div>
    </div>
    
    <!-- mensaje -->
    <div class="modal fade sombraDivModal" id="mensajeLugar">
        <br>    <br>   <br>
        <div class="modal-dialog modal-sm modalPrincipal">
           
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center textoError">
                        <span class=" fa fa-times-circle-o fa-3x"></span><br>
                        <span>¡Error!</span>
                    </div>
                    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                     <div ng-repeat="error in mensajeError">
                        <span>{{error}}</span>
                    </div>
                </div>
            </div>
            <br><br>
         
            <div class="row">
                <button class="btn botonModalError" data-dismiss="modal" aria-label="Close">Aceptar</button> 
            </div>

        </div>
    </div>
    
    <!-- Alertas -->
    <div class="alertaMensaje" id="alertaEditarExitosoLugar">
        <div class="alert alertaExtito">
            <!--<button type="button" class="close" data-dismiss="alert">x</button>-->
            <span class="fa fa-check-circle-o fa-2x textIconoExito" style="font-size:16pt"></span>
            <strong style="display: inline-block;">{{mensaje}}</strong>
        </div>
    </div>
    
</div>

    