<div ng-controller="AdministrarUnidadesController as admUnidades" style="margin-top:57px">
   
    <div class="container-fluid">
        <div class="row">
            
               <div class="tab" role="tabpanel">
                   
                    <!-- pestañas -->
                    <ul ng-if="anchoPantalla > 400" class="nav nav-tabs" role="tablist">
                        <li   ng-repeat="tab in tabs" class="{{tab.clase}}"><a  href="" aria-controls="{{tab.area}}" role="tab" data-toggle="tab" ng-click="SeleccionarTab(tab, $index)">{{tab.titulo}}</a></li>
                    </ul>


                    <ul ng-if="anchoPantalla < 401" class="nav nav">
                        <li  class="tabSm dropdown">

                            <button  class="dropdown-toggle  btn dropDownTab" data-toggle="dropdown" >
                                <span>{{titulo}}</span>
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu elemetosDropdownListModal">
                                <li ng-repeat="tab in tabs"  class="dropdownOpcionModal">
                                    <a  href="" class="dropdownOpcionModal" aria-controls="{{tab.area}}" ng-click="SeleccionarTab(tab, $index)">
                                        <span>{{tab.titulo}}</span>
                                    </a>
                                </li>
                            </ul>

                        </li>
                    </ul>

                    <!-- Contenido -->
                    <div class="">
                        <!-- Unidades -->
                        <div role="tabpanel" class="tab-pane in active" id="Unidad" ng-if="titulo=='Unidades'" >
                            <br>  
                            <div class="col-xs-12"><div ng-include=" 'html/Actividades/Administrar/Unidades/Unidades.html' "></div></div>
                        </div>
                        
                        <!-- Divisas -->
                        <div role="tabpanel" class="tab-pane" id="Divisa" ng-if=" titulo=='Divisas'" >
                            <br>  
                            <div class="col-xs-12"><div ng-include=" 'html/Actividades/Administrar/Unidades/Divisas.html' "></div></div>
                        </div>
                        
                    </div>
            </div>
        </div>
        <br>

    </div>
    
</div>

    